h1.display-3 {
    text-align: center;
    color:black;
    font-size: 80px;
}
#scrape_btn { 
    text-align: center;
}
.container {
    background:  lightgray;
    padding: 3%;
}
.card{
    background: gray;
    outline: .1px double black;
    padding: 5%;
    text-align: right;
}

.col-md-12{
            padding-top: 20px;
            padding-bottom: 40px;
            background-color: white;
}

.img-thumbnail{
    height: 100%;
    weight: 100%;
}
